# Assistant Cloud API URL -- sign up on cloud.assistant-ui.com
NEXT_PUBLIC_ASSISTANT_BASE_URL=
ASSISTANT_API_KEY=

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Google API Key
GOOGLE_GENERATIVE_AI_API_KEY=